

body {
    background-color: #f5f5f5; /* Gris claro de fondo */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333; /* Texto negro */
    text-align: center;
    padding: 20px;
}

/* section.logo {
    float: left;
    
} */

#small-bontor{
    margin-top: 65px;
    height: 650px;
    width: 400px;
    float: right;
    
}

h1 {
    text-align: center;
    padding-bottom: 0;
    margin-top: 8px;
}

nav{
    margin: 0;
    width: 100%;
    height: 45px;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  
}


nav ul {
list-style: none;
margin: 0;
padding: 0;
overflow: hidden;
padding: 0 10px;
}

nav li {
float: right;
}

nav li a {
display: inline-block;
padding: 10px 15px;
text-decoration: none;
color: rgb(138, 138, 138);

}

nav li ul {
position: absolute;
display: none;
background-color: rgb(231, 231, 231); /*color de fondo del menu desplegable*/
min-width: 10px;
box-shadow: 0px 8px 16px 0px rgb(78, 78, 78); /*sombreado de la caja del menu desplegable*/
border-radius: 10%; /* suavisa los bordes de las cajas del menu*/
}

/*menu desplegable*/
nav li ul li {
float: none;
padding: 10px;
}

nav li ul li a {
color: #000;   /*color de texto dentro de cajas del menu*/

}

a {
    color: #646464; /* color para enlaces */
    text-decoration: none;
}

nav li:hover ul {
display: block;
}


h2, h3 {
    margin-top: 0;
    color: #212121; /* Títulos más oscuros */
}

.bold{
    font-weight: 900;
}

.bontor-cv {
    margin-top: 65px;
    display: grid;
}


#historia p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  #historia h2,
  #historia h3 {
    font-weight: bold;
  }
  
  #historia ul {
    list-style: disc;
  }

/* #historia {
    text-align: center;
    margin: 0 auto;
  }

  p {
    text-align: center;
  } */


  /* Menu para telefonos celulares */
/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav ul li ul {
        position: static;
    }

    p {
        margin: 1em;
    }

    h1 {
        font-size: 1.5em;
    }
}


/* container para crear 2 columnas en donde se mostrara el texto como un libro */
.container {
    display: grid;
    max-width: 900px;
    position: relative;
    margin: auto;
    gap: 10px;
    grid-template-areas:  "left right"
                          "center center"
                          "footer footer";                                               
    grid-template-columns: 500px 500px;
  }

  .center{
    grid-area: center;
    
  }

  .left {
    
    grid-area: left;
  }
  
  .right {
   
    grid-area: right;
  }

  .footer{
    grid-area: footer;
    text-align: right;
  }