body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    text-align: center;
}

/* section.logo {
    float: left;
    
} */

#small-bontor{
    height: 650px;
    width: 400px;
}

.banner{
    background-color: #524d5e00;
    color: rgb(241, 234, 234);
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 0;
    position: relative;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    
}



h3 {
    margin-top: auto;
}

.bold{
    font-weight: 900;
}

div#historia {
    margin-top: 0;
}